.announcements_list li.promoted .header { background: #F2D62A; color: #016CBE; }

.announcements_list > li.promoted .image-wrapper { border-color: #F2D62A; }

.announcements_list li.promoted .entry .header:after { border-left-color: #F2D62A; }

.top_bar #user_nav { border-left: 1px solid #016CBE; }

.offers_list li.promoted .header { background: #F2D62A; color: #016CBE; }

.offers_list li.promoted .entry .header:after { border-left-color: #F2D62A; }

.offers_list li.promoted .image-wrapper { border-color: #F2D62A; }


.entry_list > li.promoted .entry { border-color: #F2D62A; }

header { border-top: 5px solid #F2D62A; }

.top_bar #modules_nav {
    height: 42px;
    background: url("../img/top_bar_bg.png") 0px -10px repeat-x;
    color: white;
    overflow: hidden;
}

.top_bar a { color: #0067C0; }

.top_bar nav ul li.active a {color: #FFF;}

.announcements_list li.promoted .details .info_group_header {
background: #F2D62A url("../announcements/img/list_promoted_bg.png") repeat-x;
}

div#main div.box.primary > h2, .box.primary > .box-header { color: #0067C0; }

.offers_list li.promoted .details .discount {
background: #F2D62A url("../offers/img/list_promoted_bg.png") repeat-x;
}

.offers_list .details .discount { color: #0067C0; }

div#footer-wrapper nav ul li a { color: #0067C0; }

.add_btn { 

background: #0072bc;
background-image: radial-gradient(center bottom, ellipse cover, #0072bc, #0072bc 70%);
background-image: -o-radial-gradient(center bottom, ellipse cover, #0072bc, #0072bc 70%);
background-image: -ms-radial-gradient(center bottom, ellipse cover, #0072bc, #0072bc 70%);
background-image: -moz-radial-gradient(center bottom, ellipse cover, #0072bc, #0072bc 70%);
background-image: -webkit-radial-gradient(center bottom, ellipse cover, #194DE8, #0072bc 70%);
color: white;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
border-bottom: 7px solid #0072bc;

 }

.add_btn:before { box-shadow: 2px -2px 0 #0072bc; }

#widget_announcements_homebox #daily_offer_box { border-color: #F2D628; }
