.pull-left { float: left; }
.pull-right { float: right; }

.share { line-height: 32px; }
.share label { display: block; float: left; }

.share-buttons { float: left; }
.share-buttons a { width: 20px; height: 20px; float: left; margin: 6px 3px; }

#gg-share { background: url("../img/share/gg.png") no-repeat center; }
#nk-share { background: url("../img/share/nk.png") no-repeat center; }
#twitter-share { background: url("../img/share/twitter.png") no-repeat center; }
#gr-share { background: url("../img/share/gr.png") no-repeat center; }
#blip-share { background: url("../img/share/blip.png") no-repeat center; }
#wykop-share { background: url("../img/share/wykop.png") no-repeat center; }
#fb-share { background: url("../img/share/fb.png") no-repeat center; }

.actions_list .actions {
    float: right;
    overflow: hidden;
    margin: 5px;
    clear: both;
}

.actions_list .entry_actions {
    overflow: hidden;
    margin: 5px;
    clear: both;
}

.actions_list .entry_actions .actions {
    clear: none;
    margin: 0;
}

.actions_list .actions li {
    display: inline;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid #585858;
}
.actions_list .actions li:last-child {
    margin-right: 0px;
    padding-right: 0px;
    border-right: none;
}

/* FLASHINFO 
*******************************************************************************/

.flashinfo {  
    position: relative; font-weight: bold; font-size: 13px; padding-top: 20px; padding-bottom: 17px;
    margin-bottom: 15px; text-align: center; 
}
.flashinfo.info {color: #0067C0;}
.flashinfo.error { border: 2px solid #9c0d11; background-color: #f1c9ca; color: #a10b0d;  }
.flashinfo.success { border: 2px solid #8ec63d; background-color: #d2e9b5; color: #476823; } 
.flashinfo.warning { border: 2px solid #FFBC00; background-color: #FFF79B; color: #FF8E0D; }

/* PAGINATION
*******************************************************************************/

.pagination { float: right; margin-top: 15px; margin-bottom: 15px; overflow: hidden; }

.pagination > * {
    display: block;
    float: left;
    line-height: 34px;
    margin: 0px 3px;
    font-size: 13px;
    color: #5C5C5C;
}

.pagination strong {
    font-size: 14px;
    color: #0072bc;
}
.pagination a[rel="prev"],
.pagination a[rel="next"] {
    width: 32px;
    height: 32px;
    border: 1px solid #0072bc;
    -webkit-border-radius: 4px;
    text-indent: -9999px;
}

.pagination a[rel="prev"] {
    background: url("../img/buttons/pagination_prev.png") no-repeat center;
}
.pagination a[rel="next"] {
    background: url("../img/buttons/pagination_next.png") no-repeat center;
}

/* FORMS
*******************************************************************************/

.bform { margin-top: 20px; }

.bform span.error { color: #ed1c24; font-weight: bold; display: block; float: right; width: 410px; text-align: left; }

.bform fieldset { margin-top: 10px; padding-top: 10px; border-top: 1px solid #e1e1e1; }

.bform fieldset.buttons { text-align: right; }

.bform fieldset.group label input { margin-left: 4px; margin-right: 4px; }
.bform fieldset.group label { float: none; font-weight: normal; margin-right: 50px; }
.bform fieldset.group span.error { width: auto; padding-top: 0; }

.bform fieldset legend {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #e1e1e1;
    display: block;
    padding: 6px;
}

.bform input[type=text],
.bform input[type=password] { width: 166px; padding: 6px; border: 1px solid #e1e1e1; }
.bform select { width: 180px; padding: 5px; border: 1px solid #e1e1e1; background: white; }
.bform textarea { padding: 5px; border: 1px solid #e1e1e1; outline: 0 none; }
.bform textarea.editor { width: 450px; }

.bform input[type=checkbox], .bform input[type=radio] { vertical-align: middle; }

.bform input.error, .bform select.error, .bform textarea.error { border: 1px solid #ed1c24 !important; }

input[type=submit], input[type=reset], a.button, .btn {
    padding: 1px 25px;
    height: 30px;
    line-height: 30px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background: #004991;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
}

.btn:hover {
    color: white;
}

.btn.btn-secondary {
    background: #898989;
}

a.button { display: block; line-height: 30px; width: 100px; padding-left: 10px; padding-right: 10px; text-align: center; }
a.button.center { margin: 0 auto; }

.btn-facebook {
    background: url("../img/buttons/FBlogin.png") no-repeat;
    width: 195px;
    height: 29px;
    display: inline-block;
    padding-left: 30px;
    line-height: 29px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

a.btn-facebook:hover {
    color: white;
    text-decoration: none;
}

ul.errors { margin-top: 20px; margin-bottom: 20px; text-align: center; color: #ed1c24; }
ul.errors li { margin-bottom: 4px; }

.row {
    overflow: hidden;
    clear: both;
}

.control-group {
    margin-bottom: 15px;
    overflow: hidden;
}
.control-group.full {
    width: auto;
    float: none;
    clear: both;
}

.control-group.full .controls {
    width: 411px;
}

.control-group > label {
    float: left;
    width: 280px;
    font-weight: bold;
    text-align: right;
    padding: 5px 0px;
    margin-right: 5px;
}

.control-group > label .label-help { font-weight: normal; }

.control-group > label.full {
    float: none;
    width: auto;
    display: block;
    text-align: left;
}

label .required { color: red; }

.controls {
    float: left;
}

.controls > *  {
    margin-bottom: 3px;
}

.control-group span.error {
    float: none;
    width: auto;
}
.control-group .controls .inline {
    overflow: hidden;
}
.control-group .controls .inline > *{

    display: inline;
}

.control-group.group > label {
    width: auto;
}

.control-group.group .controls {
    width: auto;
}

 .control-group.group .controls label {
    width: auto;
    text-align: left;
}

.control-group .controls label input[type="checkbox"] {
    margin: 2px 3px 0
}

.form-buttons {
    clear: both;
    overflow: hidden;
    margin-top: 10px;
}

.form-buttons ul {
    margin-left: 285px;
}


form.form-vertical {
    width: 672px;
    margin: 20px auto;
}

.form-vertical .control-group {
    float: left;
    clear: none;
}

.form-vertical .control-group.full {
    width: auto;
    float: none;
    clear: both;
}

.form-vertical .control-group label {
    width: 150px;
}

.form-vertical .control-group .controls {
    width: auto; float: none; margin-left: 155px;
}

.form-vertical .control-group.full .controls {
    width: 514px;
}

.form-vertical .form-buttons ul {
    float: right;
    margin: 0px;
}

.form-vertical .input-chbox > label { display: none; }
.form-vertical .input-chbox .controls { width: 200px; margin-left: 22px; }

.form-vertical fieldset { clear: both; }

.payment_method_group .controls label {
    clear: none;
    display: block;
    float: left;
    margin-right: 10px;
    padding: 8px 0;
    width: 110px;
    border-right: 1px solid #898989;
}

.payment_method_group .controls label:last-child {
    border-right: none;
    margin-right: 0;
}

#payment-info {
    padding: 8px 0;
}

.bform .field_map {
    width: 411px;
    height: 400px;
}

.input-chbox .controls {
    width: 460px;
}

/* File uploader field */

.file_uploader { width: 480px; }
.file_uploader .files_container { overflow: hidden; }
.file_uploader .files_container > * { display: inline-block; float: left; margin: 5px; width: 100px; padding: 4px; height: 100px; overflow: hidden; }
.file_uploader .files_container .placeholder { background: #cecece; border: 1px dashed #535353; }
.file_uploader .files_container .file { position: relative; border: 1px solid #E4E4E4; background: white; }
.file_uploader .files_container .file .image-wrapper { height: 100px; line-height: 100px; text-align: center; }
.file_uploader .files_container .file .image-wrapper img,
.file_uploader .files_container .file .image-wrapper canvas { max-width: 100px; max-height: 100px; vertical-align: middle; }
.file_uploader .files_container .file .file_name {
    text-align: center; margin-top: 3px; overflow: hidden; text-overflow: ellipsis;
    white-space: nowrap;font-size: 11px;
}
.file_uploader .files_container .file .close {
    position: absolute; right: 0; top: 0; color: red; background: white; padding: 2px;
    width: 16px; height: 16px; font-size: 20px; text-align: center; opacity: .8;
    text-decoration: none;
}
.file_uploader .files_container .file .close:hover { font-weight: bold; text-decoration: none; }
.file_uploader .upload_files { width: auto; }
.file_uploader .upload_files input { margin: 5px; display: inline-block; }
.file_uploader .alert { padding: 3px 0; }

/* Captcha */

.captcha_box .riddle .question {
    font-weight: bold;
}

/* Password field */

.input_password_wrapper > input,
.input_password_wrapper > .password_strength { display: inline-block; }

/* Password strength */

.password_strength { margin-left: 10px; }
.password_strength .strength0 { padding: 3px 5px; color: white; background:#cccccc; }
.password_strength .strength1 { padding: 3px 5px; color: white; background:#ff0000; }
.password_strength .strength2 { padding: 3px 5px; color: white; background:#ff5f5f; }
.password_strength .strength3 { padding: 3px 5px; color: white; background:#56e500; }
.password_strength .strength4 { padding: 3px 5px; color: white; background:#399800; }

/* Filters visability */

.toggle_visability_box {
    position: relative;
    min-height: 40px;
}

.toggle_visability_box .toggle_visability_btn {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 5px;
    display: none;
    padding-left: 0px;
    padding-right: 20px;
    width: 68px;
    height: 30px;
    text-align: center;
}

.toggle_visability_box.collapsed .toggle_visability_btn {
    background: url("../img/buttons/list_filters_expand.png") no-repeat;
}

.toggle_visability_box.expanded .toggle_visability_btn {
    background: url("../img/buttons/list_filters_collapse.png") no-repeat;
    color: #545454;
}

/* Cookies alert */
.cookie-alert {
    position: fixed;
    bottom:0;
    width:100%;
    background:black;
    color:white;
    font-size:11px;
    line-height:1.4em;
    text-align:center;
    opacity: 0.8;
    z-index: 9999;
}
.cookie-alert .wrapper {
    width: 100%;
    max-width: 990px;
    margin:5px auto;

}
.cookie-alert .text { padding: 10px 0; }
.cookie-alert a { color:white; text-decoration: underline; font-weight:bold; font-size:14px;}

/* Dialog */
.dialog { display: none; max-width: 900px; }
.dialog .dialog-title { 
    margin-bottom: 8px; font-size: 18px; font-weight: bold; color: #252525; 
    padding: 8px;
}
.dialog .dialog-contents { padding: 10px; }
.dialog .control-group > label { width: 180px; }
.dialog .form-buttons ul { margin-left: 185px; }

/* Fix dialog overlay gap bug */
.ui-widget-overlay { background: #000 !important; }
